In [1]:
import pandas as pd

In [2]:
# usinf dictionary to create data frame
weather={
    'Date':['1/1/2019','2/1/2019','3/1/2019','4/1/2019','5/1/2019','6/1/2019'],
    'Temperature':[32,35,28,24,32,31],
    'Windspeed':[6,7,2,7,4,2],
    'Event':['rain','sunny','snow','snow','rain','sunny']
}
df= pd.DataFrame(weather)
df

       Date  Temperature  Windspeed  Event
0  1/1/2019           32          6   rain
1  2/1/2019           35          7  sunny
2  3/1/2019           28          2   snow
3  4/1/2019           24          7   snow
4  5/1/2019           32          4   rain
5  6/1/2019           31          2  sunny

In [3]:
#to get the shape of the table
df.shape

(6, 4)

In [4]:
rows, column= df.shape
print(rows)
print(column)

6
4

In [6]:
#this prints the top five rows of the table
df.head()

       Date  Temperature  Windspeed  Event
0  1/1/2019           32          6   rain
1  2/1/2019           35          7  sunny
2  3/1/2019           28          2   snow
3  4/1/2019           24          7   snow
4  5/1/2019           32          4   rain

In [8]:
#this is to print only the top 2 rows of the table
df.head(2)

       Date  Temperature  Windspeed  Event
0  1/1/2019           32          6   rain
1  2/1/2019           35          7  sunny

In [11]:
#it prints the last five  rowsbut if argument is given in then it will print the number of rows from last
df.tail(2)

       Date  Temperature  Windspeed  Event
4  5/1/2019           32          4   rain
5  6/1/2019           31          2  sunny

In [12]:
#to print the name of all the columns
df.columns

Index(['Date', 'Temperature', 'Windspeed', 'Event'], dtype='object')

In [13]:
#to print a specific column
df.Date

0    1/1/2019
1    2/1/2019
2    3/1/2019
3    4/1/2019
4    5/1/2019
5    6/1/2019
Name: Date, dtype: object

In [14]:
type(df['Date'])

pandas.core.series.Series

In [16]:
#to print specific columns only
df[['Event','Date']]

   Event      Date
0   rain  1/1/2019
1  sunny  2/1/2019
2   snow  3/1/2019
3   snow  4/1/2019
4   rain  5/1/2019
5  sunny  6/1/2019

In [17]:
print(df['Temperature'].mean())
print(df['Temperature'].std())

30.333333333333332
3.8297084310253524

In [18]:
#it describes the tabular data in various ways
df.describe()

       Temperature  Windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [19]:
#to find the max temperature with the column details
df[df.Temperature== df.Temperature.max()]

       Date  Temperature  Windspeed  Event
1  2/1/2019           35          7  sunny

In [21]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [22]:
#changing the index of the table
df.set_index('Date', inplace=True)

In [23]:
df

          Temperature  Windspeed  Event
Date
1/1/2019           32          6   rain
2/1/2019           35          7  sunny
3/1/2019           28          2   snow
4/1/2019           24          7   snow
5/1/2019           32          4   rain
6/1/2019           31          2  sunny

In [26]:
#To access a particular row using new index
df.loc['3/1/2019']

Temperature      28
Windspeed         2
Event          snow
Name: 3/1/2019, dtype: object

In [27]:
#create data frame using a tuple
weather= [
    ('1/1/2019',32,6,'Rain'),
    ('2/1/2019',35,7,'Sunny'),
    ('3/1/2019',28,2,'Snow')
]

df= pd.DataFrame(weather, columns=['Date','temperature','windspeed','event'])
df

       Date  temperature  windspeed  event
0  1/1/2019           32          6   Rain
1  2/1/2019           35          7  Sunny
2  3/1/2019           28          2   Snow